{
    "root": true,
    "env": {
        "node": true
    },
    "extends": "standard",
    "rules": {
        "indent": [2, 4, { "SwitchCase": 1 }],
        "quotes": [2, "single", { "allowTemplateLiterals": true }],
        "linebreak-style": [2, "unix"],
        "semi": [2, "always"],
        "eqeqeq": [2, "always"],
        "strict": [2, "global"],
        "key-spacing": [2, { "afterColon": true }],
        "no-console": 0,
        "no-debugger": 0,
        "no-empty": 0,
        "no-unused-vars": 0,
        "no-constant-condition": 0,
        "no-undef": 0,
        "no-trailing-spaces": 0,
        "no-unneeded-ternary": 0
    }
}